<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusMind">

        <!-- ✅ SATU-SATUNYA LAUNCHER -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ❌ BUKAN LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />

        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.SignupActivity" />
        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".counseling.chat_ai.ChatAIActivity" />
        <activity android:name=".counseling.chat_human.ChatHumanActivity" />
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".profile.UserProfileActivity" />
        <activity android:name=".profile.CounselorProfileActivity" />

    </application>

</manifest>
